<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


    <!--  Reconhecer anotacao de @Transactional -->
    <tx:annotation-driven/>
    <context:component-scan base-package="br.com.fabricadeprogramador"/> <!-- Scaneador de anotações do projeto-->

    <bean id="est" class="br.com.fabricadeprogramador.entidades.Estado">
        <property name="uf" value="bh"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5433/fdpweb2"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"> <!-- apontando para EntityManager do Spring -->
        <property name="dataSource" ref="dataSource"/> <!--  fazendo referencia a dataSource ja criada -->
        <property name="persistenceUnitName" value="fdpweb2"/> <!-- nome da unidade a ser persistida. -->
        <property name="jpaVendorAdapter"> <!-- framework que irá trabalhar, nesse  caso o Hibernate. -->
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true"/>  <!-- para mostrar as tabelas criadas -->
                <property name="showSql" value="true"/> <!-- para mostrar os comandos sql feitos -->
                <property name="databasePlatform"
                          value="org.hibernate.dialect.PostgreSQLDialect"/> <!-- para traduzir para a dialeto do db, nesse caso o postgres -->
            </bean>
        </property>
    </bean>


    <!--   Controle de Transacoes -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory"/> <!-- passa objeto em pois em.getTransaction....-->
    </bean>

</beans>